@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: "Catamaran", sans-serif;
  color: #153461;
  font-size: 25px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.header__content {
  width: 100%;
  color: #A3C1EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}
.header__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__content .header__logo {
  margin-left: 1%;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
}
.header__content .header__interaction {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.header__content .header__interaction li {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 32px;
  margin-right: 70px;
  cursor: pointer;
}
.header__content .header__interaction li:last-child {
  margin-right: 0px;
  margin-top: 0;
}
.header__content .header__menu-back li {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__content .header__menu-back li::before {
  content: "";
  position: absolute;
  width: 120%;
  top: -300%;
  left: -9%;
  border-radius: 0 0 10px 10px;
  height: 80px;
  background-color: #A3C1EF;
  z-index: -1;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__content .header__menu-back li:hover {
  color: #fff;
}
.header__content .header__menu-back li:hover::before {
  top: -100%;
}
.header__content .header__menu {
  color: #163561;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__content .header__menu li {
  margin-right: 48px;
  cursor: pointer;
}
.header__content .header__menu li:last-child {
  margin-right: 0px;
}

._icon-Scisors::before {
  display: inline-block;
  font-size: 40px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #A3C1EF;
  border: 0;
  -webkit-box-shadow: 0px 4px 10px #A3C1EF;
          box-shadow: 0px 4px 10px #A3C1EF;
  cursor: pointer;
}

.title {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tittle-content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tittle-content__MainText {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
}

h1 {
  font-size: 60px;
  display: inline-block;
  color: #FBB400;
}
.visable-br{
  visibility:hidden;
  display: none;
}
.tittle-content__subText {
  margin: 8% 0 15% 0;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.03em;
  opacity: 0.65;
}

.left-Text {
  display: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightImg {
  width: 50%;
  height: 80%;
  background-image: url(../img/bcTitle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  right: 0;
  z-index: -1;
}

.history {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.history-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.history-content__IMG {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
  background-image: url(../img/HistoryPhoto.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.history-content__Text {
  width: 40%;
}

.history-content__subTExt {
  margin: 10% 0 12% 0;
}

.abs__left {
  left: 0;
}

.abs {
  position: absolute;
  top: 0%;
}

.abs__right {
  right: 0;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.service {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-content__Text {
  text-align: center;
}

.service-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  text-align: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-content__item {
  width: 400px;
  height: 100%;
  background-color: #FAFBFF;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px 0px #99BAED;
          box-shadow: 0 5px 5px 0px #99BAED;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.service-content__item:hover {
  background-color: #99BAED;
  color: #fff;
  -webkit-box-shadow: 4px 4px 20px 7px #A3C1EF;
          box-shadow: 4px 4px 20px 7px #A3C1EF;
}
.service-content__item:hover ._icon-razor::before, .service-content__item ._icon-clean::before, .service-content__item ._icon-Scisors::before {
  color: #153461;
}
.service-content__item ._icon-razor::before, .service-content__item ._icon-clean::before, .service-content__item ._icon-Scisors::before {
  display: inline-block;
  font-size: 54px;
  margin-top: 35px;
}

.service-content__img {
  height: 130px;
  width: 100px;
  background-color: #E5ECFE;
  display: inline-block;
  border-radius: 13px;
  -webkit-box-shadow: 0 5px 5px 0px #99BAED;
          box-shadow: 0 5px 5px 0px #99BAED;
}

.service-content__MainText {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 10% 0;
}

.service-content__SubText {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-align: center;
}

.bottom-left {
  left: 0;
}

.bottom-right {
  right: 0;
}

.bot {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.gallery {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-content__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr 30px 1fr;
  -ms-grid-columns: 300px 30px 300px 30px 300px;
      grid-template: repeat(2, 50%)/repeat(3, 23%);
  width: 100%;
  height: 600px;
  gap: 30px;
}
.gallery-content__grid .scale {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.gallery-content__grid .scale img {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.gallery-content__grid .scale img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__right {
  right: 0;
}

.gallery__abs {
  position: absolute;
  top: 0%;
}

.gallery__left {
  left: 0;
}

footer {
  height: 500px;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #A3C1EF;
}
.footer-content ._icon-Scisors::before {
  font-size: 60px;
}

.footer-content__logo {
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #A3C1EF;
}

.footer-content__text {
  color: #153461;
  opacity: 0.65;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-content__network {
  width: 20%;
}

.footer-content__network ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-content__network ul li {
  color: #A3C1EF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.footer-content__network ul li:hover {
  color: #163561;
}

._anim-items {
  opacity: 0;
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}

._anim-items._active {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.menu-btn {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hidenMenu {
  display: none;
  z-index: 4;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;
  background-color: rgba(22, 53, 97, .75);;
  color: #fff;
  box-shadow: -5px 0px 10px 10px rgba(22, 53, 97, .75);
}

.hidenMenu li {
  font-size: 32px !important;
  margin-bottom: 40px;
}
.hidenMenu li:last-child {
  margin-bottom: 0px;
}

.wrappHide {
  
  position: relative;
  width: 80%;
  height: 100vh;
}
.wrappHide ul {
  margin-top: 150px !important;
  display: flex;
  flex-direction: column;
}

.closeM {
  position: absolute;
  top: -5%;
  right: 0;
  font-weight: 400 !important;
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 58px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.hideShow {
  -webkit-transform: translateX(100%);
          transform: translateX(106%);
}

.menu-btn {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrappHide li:last-child{
  display: none;
}